 * {
     background-color: #cad2c5;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 1px;
     box-sizing: border-box;
 }



 #clock {
     color: #84a98c;
     text-align: center;
     margin: 10px;
 }

 #todaysDate {
     color: #2f3e46;
     margin: 10px;
 }

 /* Tasks list */


 #tasksList {
     list-style-type: none;
     font-size: 1rem;
 }